<VirtualHost *:80>
    ServerAdmin aroyewunbimbola@gmail.com
    ServerName {{ angular-devops-app }}
    DocumentRoot {{ /var/www/angular-devops-app }}
    
    # Set up directory options for serving static files
    <Directory {{ document_root }}>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    # Logging
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    # Optional: Enable caching for static files to improve performance
    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "access plus 1 year"
    </IfModule>

</VirtualHost>
